:root {
  --anzhiyu-color: #49A6E9;
  --anzhiyu-hover-color: #ECAFFF;
  --anzhiyu-widget-hover: #CFF0FF;
  --anzhiyu-font-white: #FDFDFD;
  --anzhiyu-light-green: #B2FFCA;
  --anzhiyu-light-purple: #F6B9FF;
  --anzhiyu-green: #11D991;
  --anzhiyu-purple: #E764FF;
  --anzhiyu-light-grey: #F2F2F2;
  --anzhiyu-card-bg: rgba(255,255,255,0.45);
  --anzhiyu-emphasis-color: #F7F81A;
  --anzhiyu-bgblur: blur(10px);
  --anzhiyu-footer-bg: linear-gradient(to bottom,transparent 0%,rgba(255,255,255,0.7) 40%);
  --anzhiyu-font-grey: #888888;
  --anzhiyu-categorycard-bg: linear-gradient(to top,rgba(255,255,255,0),rgba(255,255,255,1));
  --global-font-size: 14px;
  --global-bg: #fff;
  --font-color: #4c4948;
  --hr-border: #a4d8fa;
  --hr-before-color: #80c8f8;
  --search-bg: #f6f8fa;
  --search-input-color: #4c4948;
  --search-result-title: #4c4948;
  --preloader-bg: rgba(255,255,255,0.4);
  --preloader-color: #505050;
  --tab-border-color: #f0f0f0;
  --tab-botton-bg: #f0f0f0;
  --tab-botton-color: #1f2d3d;
  --tab-button-hover-bg: #dcdcdc;
  --tab-button-active-bg: #fff;
  --card-bg: #fff;
  --sidebar-bg: #f6f8fa;
  --btn-hover-color: #800080;
  --btn-color: #fff;
  --btn-bg: #49b1f5;
  --text-bg-hover: rgba(73,177,245,0.7);
  --light-grey: #eee;
  --dark-grey: #cacaca;
  --white: #fff;
  --text-highlight-color: #1f2d3d;
  --blockquote-color: #6a737d;
  --blockquote-bg: rgba(73,177,245,0.1);
  --reward-pop: #f5f5f5;
  --toc-link-color: #666261;
  --card-box-shadow: 0 3px 8px 6px rgba(7,17,27,0.05);
  --card-hover-box-shadow: 0 3px 8px 6px rgba(7,17,27,0.09);
  --pseudo-hover: #e050ff;
  --headline-presudo: #a0a0a0;
  --scrollbar-color: #49b1f5;
  --anzhiyu-theme-op: #4259ef23;
  --anzhiyu-gray-op: #9999992b;
  --anzhiyu-theme-top: var(--anzhiyu-theme);
  --anzhiyu-white: #fff;
  --anzhiyu-white-op: rgba(255, 255, 255, .2);
  --anzhiyu-black: #000;
  --anzhiyu-black-op: rgba(0, 0, 0, .2);
  --anzhiyu-none: rgba(0, 0, 0, 0);
  --anzhiyu-gray: #999999;
  --anzhiyu-yellow: #ffc93e;
  --anzhiyu-border-radius: 8px;
  --anzhiyu-main: var(--anzhiyu-theme);
  --anzhiyu-main-op: var(--anzhiyu-theme-op);
  --anzhiyu-shadow-theme: 0 8px 12px -3px var(--anzhiyu-theme-op);
  --anzhiyu-shadow-main: 0 8px 12px -3px var(--anzhiyu-main-op);
  --anzhiyu-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, .2);
  --anzhiyu-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, .2);
  --anzhiyu-shadow-black: 0 0 12px 4px rgba(0, 0, 0, .05);
  --anzhiyu-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, .12);
  --anzhiyu-shadow-red: 0 8px 12px -3px #ee7d7936;
  --anzhiyu-shadow-green: 0 8px 12px -3px #87ee7936;
  --anzhiyu-shadow-border: 0 8px 16px -4px #2c2d300c;
  --anzhiyu-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, .15);
  --anzhiyu-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
  --style-border: 1px solid var(--anzhiyu-card-border);
  --anzhiyu-blue-main: #3b70fc;
  --style-border-hover: 1px solid var(--anzhiyu-main);
  --style-border-dashed: 1px dashed var(--anzhiyu-theme-op);
  --style-border-avatar: 4px solid var(--anzhiyu-background);
  --style-border-always: 1px solid var(--anzhiyu-card-border);
  --style-border-none: 1px solid transparent;
  --anzhiyu-white-acrylic1: #fefeff !important;
  --anzhiyu-white-acrylic2: #fcfdff !important;
  --anzhiyu-black-acrylic2: #08080a !important;
  --anzhiyu-black-acrylic1: #0b0b0e !important;
  --anzhiyu-main-none: #b8b8b800 !important;
  --hr-border: var(--anzhiyu-main);
  --anzhiyu-color-white: #ffffff;
    --anzhiyu-color-black: #000000;
    --anzhiyu-color-primary-rgb: 64, 158, 255;
    --anzhiyu-color-success-rgb: 103, 194, 58;
    --anzhiyu-color-warning-rgb: 230, 162, 60;
    --anzhiyu-color-danger-rgb: 245, 108, 108;
    --anzhiyu-color-error-rgb: 245, 108, 108;
    --anzhiyu-color-info-rgb: 144, 147, 153;
    --anzhiyu-font-size-extra-large: 20px;
    --anzhiyu-font-size-large: 18px;
    --anzhiyu-font-size-medium: 16px;
    --anzhiyu-font-size-base: 14px;
    --anzhiyu-font-size-small: 13px;
    --anzhiyu-font-size-extra-small: 12px;
    --anzhiyu-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
    --anzhiyu-font-weight-primary: 500;
    --anzhiyu-font-line-height-primary: 24px;
    --anzhiyu-index-normal: 1;
    --anzhiyu-index-top: 1000;
    --anzhiyu-index-popper: 2000;
    --anzhiyu-border-radius-base: 4px;
    --anzhiyu-border-radius-small: 2px;
    --anzhiyu-border-radius-round: 20px;
    --anzhiyu-border-radius-circle: 100%;
    --anzhiyu-transition-duration: .3s;
    --anzhiyu-transition-duration-fast: .2s;
    --anzhiyu-transition-function-ease-in-out-bezier: cubic-bezier(.645, .045, .355, 1);
    --anzhiyu-transition-function-fast-bezier: cubic-bezier(.23, 1, .32, 1);
    --anzhiyu-transition-all: all var(--anzhiyu-transition-duration) var(--anzhiyu-transition-function-ease-in-out-bezier);
    --anzhiyu-transition-fade: opacity var(--anzhiyu-transition-duration) var(--anzhiyu-transition-function-fast-bezier);
    --anzhiyu-transition-md-fade: transform var(--anzhiyu-transition-duration) var(--anzhiyu-transition-function-fast-bezier), opacity var(--anzhiyu-transition-duration) var(--anzhiyu-transition-function-fast-bezier);
    --anzhiyu-transition-fade-linear: opacity var(--anzhiyu-transition-duration-fast) linear;
    --anzhiyu-transition-border: border-color var(--anzhiyu-transition-duration-fast) var(--anzhiyu-transition-function-ease-in-out-bezier);
    --anzhiyu-transition-box-shadow: box-shadow var(--anzhiyu-transition-duration-fast) var(--anzhiyu-transition-function-ease-in-out-bezier);
    --anzhiyu-transition-color: color var(--anzhiyu-transition-duration-fast) var(--anzhiyu-transition-function-ease-in-out-bezier);
    --anzhiyu-component-size-large: 40px;
    --anzhiyu-component-size: 32px;
    --anzhiyu-component-size-small: 24px;
}

[data-theme='dark'] {
  --global-bg:black;
  --anzhiyu-color: #1688C9;
  --anzhiyu-widget-hover: #1B6587;
  --anzhiyu-card-bg: rgba(0,0,0,0.7);
  --anzhiyu-footer-bg: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,0.7) 40%);
  --anzhiyu-font-grey: #BBBBBB;
  --anzhiyu-categorycard-bg:linear-gradient(to top,rgba(0,0,0,0),rgba(0,0,0,1))
}

.cardHover,
.error404 #error-wrap .error-content,
.layout > div:first-child:not(.recent-posts),
#recent-posts > .recent-post-item,
#aside-content .card-widget,
.layout > .recent-posts .pagination > *:not(.space) {
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 8px 6px rgba(7,17,27,0.05);
  box-shadow: 0px 3px 8px 6px rgba(7,17,27,0.05);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

#recent-posts > .recent-post-item > .recent-post-info > .article-title {
  -webkit-line-clamp: 1;
  margin-top: .3rem;
  margin-bottom: .3rem;
  color: var(--text-highlight-color);
  font-size: 1.2em;
  line-height: 1.4;
}


/* 归档、标签、分类页 */

/* 归档小细节 */
#achive,.article-sort,.article-sort-item,.article-sort-item-info,.article-sort-meta,.article-meta-wrap,.article-sort-item-tags a{
  color:#99a9bf
}

.layout.hide-aside{
  max-width:1400px;
}

#archive,#tag,#category {
  background: var(--trans-light);
  padding: 25px 10px;
}

.article-sort-title{
  margin-top:30px;
  margin-bottom:20px;
}

.article-sort-item::before, .article-sort-title::before, .article-sort-title::after {
  content: none;
}

.article-sort .year{
  width:100%!important;
  border-bottom:dashed 5px var(--anzhiyu-color);
  font-size:26px;
  margin-top:20px;
}

.article-sort{
  border:none;
  display:flex;
  flex-wrap:wrap;
  margin:20px 20px;
  padding:0;
}

.article-sort-item:not(.year){
  padding:8px 10px;
  width:calc(50% - 0.8rem);
  margin:0.4rem;
  border:2px solid var(--anzhiyu-color);
  border-radius:15px;
  background:var(--card-bg);
  transition:0.5s;
  height:120px;
}

.article-sort-item-a{
  position:absolute;
  width:100%;
  height:100%;
}

.article-sort-item-img{
  transition:0.5s;
  height:90px;
  width:140px;
}

.article-sort-item > a >img{
  border-radius:15px;
}

.article-sort-item-title {
  font-size: 22px;
  padding-left: 10px;
  margin: 10px 0;
  line-height:25px;
  text-overflow:ellipsis;
}

.article-sort-item-title:hover{
  transform:none;
}

.article-sort-meta{
  height:max-content;
  position:relative;
}

.article-sort-meta > .article-meta-wrap{
  float:left;
}

.article-sort-meta > .article-sort-item-time{
  float:right;
}

.article-sort-item-categories,.article-sort-item-tags{
  margin:0 3px;
  padding:5px 8px;
  border-radius:25px;
  border:1px solid var(--dark-grey);
  font-size:12px;
  transition:0.5s;
}

.article-sort-item-info > div:not(.article-sort-meta){
  display:flex;
}

.article-sort-description,.article-sort-item > i{
  width:0;
  opacity:0;
  overflow:hidden;
  transition:0.5s;
}

.article-sort-description {
  width: 0;
  height: 59px;
  vertical-align: middle;
  margin: 5px 10px 0 15px;
  text-overflow:ellipsis;
}

.article-sort-item:hover:not(.year){
  background-color:var(--anzhiyu-color);
  box-shadow: 0 0 10px var(--anzhiyu-color);
}

.article-sort-item:hover:not(.year){
  background-color:var(--anzhiyu-color);
  box-shadow: 0 0 10px var(--anzhiyu-color);
}

.article-sort-item:hover:not(.year) .article-sort-description,.article-sort-item:hover:not(.year) > i{
  width:auto;
  opacity:1;
}

.article-sort-item:hover:not(.year) .article-sort-description{
  width:auto;
}

.article-sort-item:hover:not(.year) .article-sort-item-img{
  transition:0.5s;
  width:0;
}

.article-sort-item:hover:not(.year) .article-sort-item-title{
  color:var(--anzhiyu-font-white)!important;
}

.article-sort-item:hover:not(.year) .article-meta-wrap a,.article-sort-item:hover:not(.year) .article-sort-description,.article-sort-item:hover:not(.year) .article-sort-item-time{
  color:var(--anzhiyu-light-grey)!important;
}

.article-sort-item:hover:not(.year) .article-sort-item-categories{
  border:1.5px solid var(--anzhiyu-green);
}

.article-sort-item:hover:not(.year) .article-sort-item-tags{
  border:1.5px solid var(--anzhiyu-purple);
}

.article-sort-item:hover:not(.year) .article-sort-item-categories:hover{
  background:var(--anzhiyu-green);
  box-shadow:0 0 5px var(--anzhiyu-green);
}

.article-sort-item:hover:not(.year) .article-sort-item-tags:hover{
  background:var(--anzhiyu-purple);
  box-shadow:0 0 5px var(--anzhiyu-purple);
}

@media screen and (max-width:768px) {
  .article-sort-item:not(.year) {
      width: 100%;
  }

  .article-sort-meta > .article-meta-wrap {
      display: none;
  }

  .article-sort-item-title {
      font-size: 16px;
  }

  .article-sort-item-img{
      width:90px;
  }
}
.article-sort-item-categories a{
  color:#99a9bf
}


/* 分类、标签索引页 */
.category-cards{
  display:flex;
  padding:20px;
  flex-wrap:wrap;
}

.category-card{
  margin:0.5rem;
  width:calc(25% - 1rem);
  position:relative;
  height:300px;
  border-radius:20px;
  padding:0;
}

.category-card-front, .category-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; 
  -moz-backface-visibility: hidden; 
  -ms-backface-visibility: hidden; 
  transition: 0.5s;
  padding: 15px 20px;
  border-radius: 20px;
  border: 2px solid #8B00BB;
}

.category-card-back {
  background: linear-gradient(to top left, #8B00BB 0%, #030094 100%) ;
  transform: rotateY(-180deg);
  transition: 0.5s;
}

.card-front-img{
  width:100%;
  height:100%;
  position:absolute;
  object-fit:cover;
  opacity:0.5;
  border-radius:20px;
  z-index:-1;
  bottom:0;
  left:0;
  background-size:cover;
}

.card-front-title, .card-back-title {
  font-size: 1.5rem;
  font-weight: bold;
  width: 80%;
  border-bottom: 4px solid #8B00BB;
}

.card-front-amount {
  background: var(--anzhiyu-card-bg);
  border-radius: 10px;
  width: max-content;
  padding: 0 10px;
  float: right;
  position: absolute;
  bottom: 25px;
  right: 15px;
}

.card-front-desc {
  margin-top:15px;
  font-size: 16px;
}

.category-card-back > a:not(.card-back-more){
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
}

.card-back-title{
  border-bottom:none;
  color:var(--anzhiyu-font-white);
}

.card-back-content{
  padding:5px;
  margin:0;
}

.card-back-content li{
  list-style:none;
  margin:2px 5px; 
  margin:8px 0;
}

.card-back-content a{
  color: var(--anzhiyu-font-white) ;
  border-bottom:2px solid var(--anzhiyu-font-white);
  transition:.3s;
  padding:5px 3px 3px 3px;
}

.card-back-content a:hover{
  background:var(--anzhiyu-font-white);
  color:var(--font-color);
  border-radius:8px;
}

.card-back-more{
  position:absolute;
  right:25px;
  bottom:25px;
  color:var(--anzhiyu-font-white)!important;
}

.card-back-more::after{
  content: '';
  position: relative;
  width: 0;
  bottom: 3px;
  left:-5px;
  display: block;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  transition:0.3s;
}

.card-back-more:hover::after{
  width:130%;
}

.category-card:hover .category-card-front{
  transform:rotateY(-180deg);
}

.category-card:hover .category-card-back {
  transform: rotateY(0deg);
}

@media screen and (max-width:768px) {
  .category-card {
      width: 100%;
  }
}


/* 主页双栏 */
#recent-posts {
  margin-top: -1rem;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

  #recent-posts > .recent-post-item {
      margin-top: 1rem;
      display: inline-block;
      height: auto;
      width: 49%
  }

      #recent-posts > .recent-post-item .post_cover {
          width: 100%;
          height: 200px
      }

          #recent-posts > .recent-post-item .post_cover img.post_bg {
              width: 100%;
              height: 100%
          }

      #recent-posts > .recent-post-item > .recent-post-info > .content {
          display: none
      }

  #recent-posts > .recent-post-item {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column
  }

      #recent-posts > .recent-post-item .left_radius {
          border-radius: 8px 8px 0 0
      }

      #recent-posts > .recent-post-item .right_radius {
          border-radius: 8px 8px 0 0
      }

.recent-post-item {
  height: auto !important
}

.recent-post-info {
  padding: 0 40px;
  margin-top: 1em;
  width: 100% !important
}

#recent-posts > .recent-post-item > .recent-post-info > .article-title {
  -webkit-line-clamp: 1;
  margin-top: .3rem;
  margin-bottom: .3rem;
  color: var(--text-highlight-color);
  font-size: 1.2em;
  line-height: 1.4
}

#recent-posts > .recent-post-item > .recent-post-info > .article-meta-wrap {
  margin-bottom: 1rem
}

@media screen and (max-width:768px) {
  #recent-posts > .recent-post-item {
      width: 100%
  }
}

#recent-posts > .recent-post-item > .recent-post-info > .article-meta-wrap > .tags:before {
  content: "\\A";
  white-space: pre;
}

#recent-posts > .recent-post-item > .recent-post-info > .article-meta-wrap > .tags > .article-meta__separator {
  display: none;
}

/* 首页文章 */
/* 最新文章图标 */
.newPost {
  position: absolute;
  bottom: 20px;
  right:10px;
  color: orange;
  padding: 0 15px;
}

.recent-post-item, .card-widget, #post, #bbTimeList, #page {
  border-radius: 6px;
  outline: 2px solid var(--dark-grey);
  transition: .3s;
}

.recent-post-item:hover,.card-widget:hover,.menus_item_child:hover,#post:hover,#bbTimeList:hover,#page:hover{
  outline:2px solid var(--anzhiyu-color);
  transition:.3s;
}

.recent-post-item{
  position:relative;
}

  .recent-post-item div, .recent-post-item a{
      color: black !important;
  }

.post_cover{
  position:relative;
  height:250px!important;
}

.post-category,.post-tag{
  position:absolute;
  top:10px;
  padding:0 8px;
  background:rgba(100,100,100,0.8);
  border-radius:10px;
  transition:0.2s;
}

.post-category a,.post-tag a{
  color:white!important;
}

.post-category{
  left:10px;
}

.post-tag{
  right:10px;
}

.post-category:hover {
  background: var(--anzhiyu-color);
  box-shadow: 0 0 8px var(--anzhiyu-color);
  transition: 0.2s;
}

.post-tag:hover {
  background: var(--anzhiyu-hover-color);
  box-shadow: 0 0 8px var(--anzhiyu-hover-color);
  transition: 0.2s;
}

.post-category a{
  color:white;
}

.recent-post-info{
  position:absolute;
  bottom:0;
  height:70px;
  background:white;
  transition:0.15s;
}

@media screen and (max-width:768px){
  .recent-post-info{
      padding:0 20px!important;
  }
}

.recent-post-info >.article-title{
  margin:10px 0!important;
  font-weight:bold;
}

.recent-post-info >.article-meta-wrap{
  margin:0!important;
  color:rgb(100,100,100)!important;
}

.post-info-hover > .article-meta-wrap {
  position:absolute;
  bottom:10px;
  color: rgb(50,50,50)!important;
}

.post-info-hover{
  opacity:0;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:10;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:0 35px;
  background:rgba(255,255,255,0.8);
  transition:0.15s;
}

.recent-post-item:hover .post-info-hover{
  opacity:1;
  transition:0.3s;
}

.recent-post-item:hover .post_cover {
  filter: blur(2px);
  transition: 0.3s;
}

.recent-post-item:hover .recent-post-info {
  opacity: 0;
  transition: 0.3s;
}

.post-info-hover > a{
  font-size:20px;
  font-weight:bold;
  color:black;
  text-align:center;
}

.post-article-a{
  width:100%;
  height:100%;
  position:absolute;
}

#pagination{
  border-radius:12px;
}

#pagination img{
  filter:blur(4px);
  transition:.3s;
}

#pagination div:hover img{
  filter:blur(0px);
  transition:.3s;
}

.relatedPosts-list > div {
  border-radius: 12px;
  height:150px!important;
}

.reward-button {
  border-radius: 15px;
  background: var(--anzhiyu-color);
  box-shadow: 0 0 2px var(--anzhiyu-color);
  transition:0.3s;
}

.reward-button:hover{
  box-shadow: 0 0 5px #800080;
  transition:0.3s;
}


.imgHover,
.error404 #error-wrap .error-content .error-img img,
.article-sort-item-img img,
#recent-posts > .recent-post-item .post_cover img.post_bg,
#aside-content .aside-list > .aside-list-item .thumbnail > img {
  width: 100%;
  height: 100%;
  -webkit-transition: filter 375ms ease-in 0.2s, -webkit-transform 0.6s;
  -moz-transition: filter 375ms ease-in 0.2s, -moz-transform 0.6s;
  -o-transition: filter 375ms ease-in 0.2s, -o-transform 0.6s;
  -ms-transition: filter 375ms ease-in 0.2s, -ms-transform 0.6s;
  transition: filter 375ms ease-in 0.2s, transform 0.6s;
  object-fit: cover;
}
.imgHover:hover,
.error404 #error-wrap .error-content .error-img img:hover,
.article-sort-item-img img:hover,
#recent-posts > .recent-post-item .post_cover img.post_bg:hover,
#aside-content .aside-list > .aside-list-item .thumbnail > img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.postImgHover:hover img,
#pagination .prev-post:hover img,
#pagination .next-post:hover img,
.relatedPosts > .relatedPosts-list > div:hover img {
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.postImgHover img,
#pagination .prev-post img,
#pagination .next-post img,
.relatedPosts > .relatedPosts-list > div img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -webkit-transition: all 0.6s, filter 375ms ease-in 0.2s;
  -moz-transition: all 0.6s, filter 375ms ease-in 0.2s;
  -o-transition: all 0.6s, filter 375ms ease-in 0.2s;
  -ms-transition: all 0.6s, filter 375ms ease-in 0.2s;
  transition: all 0.6s, filter 375ms ease-in 0.2s;
  object-fit: cover;
}

#recent-posts > .recent-post-item:hover img.post_bg {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* 右侧卡片 */
/* .card-widget{
  font-size: 12px;
} */
/* 文章字体大小 */
.post-content > p{
    font-size: 14px;
}
/* 标题字体大小 */
h1{
  font-size: 1.5em;
}
h2{
  font-size: 1.3em;
}
h3{
  font-size: 1.2em;
}
.post-copyright__type >.post-copyright-info > a,
 .post-copyright-m .post-copyright-m-info .post-copyright-c .post-copyright-cc-info a
{
  color:grey
}
/* flink-list 友链卡片 */
.flink-list > a{
  width: calc(23%-15px) !important;
  height: 150px;
  margin: 15px 7px;
}
/* tab分栏设置 */
.tabs > .tab-contents{
  background-color: white;
}

/* 文章 小标题  h1 h2 ...*/
#article-container h1:before, #article-container h2:before, #article-container h3:before, #article-container h4:before, #article-container h5:before, #article-container h6:before{
  content:none
}
#article-container h1, #article-container h2, #article-container h3, #article-container h4, #article-container h5, #article-container h6 {
  padding-left: 0px;
  animation: none;
}
#article-container h1:hover, #article-container h2:hover, #article-container h3:hover, #article-container h4:hover, #article-container h5:hover, #article-container h6:hover{
  padding-left: 0px;
}
/* 文章链接标签 */
#article-container .tag-Link {
  background: var(--anzhiyu-secondbg);
  border-radius: 8px!important;
  display: flex;
  border: var(--style-border);
  flex-direction: column;
  padding: .5rem 1rem!important;
  border-width: 1px!important;
  margin: 1rem 0;
}
/* 文章 */
.post-content p{
  font-size: 17px;
  padding: 0px 0px;
}